<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="demo">{{ fullName }}</div>
    <div id="app">
        <input type="text" v-model="email">
        upperCaseText {{ upperCaseText }}
        <p>
            {{ email | lowerCaseText }}

        </p>

        <img :src="products[0].image" :alt="products[0].image_title">
        <img v-bind="{
            src: products[1].image,
            alt: products[1].image_title
        }">

        {{ email }}
        <h4>v-text</h4>
        <span v-text="email"></span>

        <h4>v-html</h4>
        <p v-html="email"></p>

        <h4>v-once</h4>
        <p v-once="email"></p>

        <input type="text" v-model="email">
        <nav>
            <p>Cart: {{ cart }}</p>
        </nav>
        <label for="forMax">Maximum price: </label>
        <input type="text" id="forMax" v-model="max">
        <div>
            <input type="range" min="0" max="200" id="forMax" v-model="max">
        </div>
        <div v-for="product in products" v-if="product.price>max">
            <div>{{ product.name }}</div>
            <div>{{ product.description }}</div>
            <!-- <div :class="{blue: product.price < 99}">${{ product.price }} </div> -->
            <div :class="[product.price > 99 ? `blue` : `green`]">${{ product.price }} </div>
            <button v-on:click="addToCart">+</button>
            <!-- <figure>
                <img :src="product.image" :alt="product.image_title" :width="300" :height="300">
                <figcaption>{{ product.name }}</figcaption>
            </figure> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index2.js"></script>></script>
</body>

</html>