.blue {
    background: blue;
    color: white;
    width:7%;
    padding: 5px;
}

.green {
    background:green;
    color: white;
    width:7%;
    padding: 5px;
}
.red {
    background:red;
    color: white;
    width:10%;
    padding: 5px;
}
.upper-case {
    text-transform: uppercase;
}